{{#*inline "page"}}

<section id="about">
    <h1>About</h1>
    <p>This is an experimental rust server to expose the file system of any computer but targeted at Raspberry Pi's</p>
    <p>Version: 0.1.0</p>
    <p>Source code: <a href="https://github.com/nickrubenstein/plug_and_play_fs">Github</a></p>
    <p>Created by: Nick Rubenstein</p>
</section>

{{/inline}}
{{> layout}}