.folder {
    font-weight: bold;
}

a {
    font-weight: 500;
}

.flash-error {
    color: red;
}

.flash-info {
    color: blue;
}

.flash-success {
    color: green;
}

.flash-warning {
    color: orange;
}