ul {
    padding: 5px;
    margin: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h4 {
    margin: 20px 0px 0px 0px;
}

p {
    margin: 0px;
}

.folder {
    font-weight: bold;
}

#flashes {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.75;
    background-color: white;
}

#flashes > p {
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}

.flash-error {
    /* border: 1px solid red; */
    color: red;
}

.flash-info {
    /* border: 1px solid blue; */
    color: blue;
}

.flash-success {
    /* border: 1px solid green; */
    color: green;
}

.flash-warning {
    /* border: 1px solid orange; */
    color: orange;
}

#login, #logout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login div {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#login label {
    width: 75px;
}